.products {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  padding: 0 2rem 1rem 2rem;
}

.filter {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 4fr;
  padding: 1rem 0;
}

.filter_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.title {
  font-weight: 600;
}

.label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.divider {
  border: 1px solid rgba(223, 223, 223, 0.975);
}

@media screen and (max-width: 600px) {
  .filter {
    display: flex;
    flex-direction: column;
  }
}
